<div class="row">
	<div class="large-12 columns">
		<h1>User</h1>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<p>
			<strong>Email:</strong>
		  	<%= @user.email %>
		</p>
	</div>
	<div class="large-6 columns">
		<p>
			<strong>Password:</strong>
  			<%= @user.password %>
		</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns"> 
		<%= link_to 'Back', login_path, {:class => "button secondary"} %>
	</div>
</div>

