<div class="row">
	<div class="large-12 columns">
		<h1>Admin interface</h1>
	</div>
</div>

<% @apikeys.each do |key| %>
	<div class="row">
		<div class="large-6 columns">
			<p><%= key.api_key %></p>
		</div>
		<div class="large-6 columns">			
			<%= link_to "Revoke key", {:controller => "api_key", :action => "destroy", :id => key.user_id} %>
		</div>
	</div>
<% end %>

<% if flash[:admin] %>
    <div class="row">
    	<div class="large-12 columns">
    		<div data-alert class="alert-box warning">
			  <%= flash[:admin] %>
			  <a href="#" class="close">&times;</a>
			</div>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Log Out', logout_path, {:class => "button secondary expand"} %>
	</div>
</div>