<div class="row">
	<div class="large-6 columns">
		<h1>Interface</h1>
	</div>
	<div class="large-6 columns">
		<p class="panel">Here you can request an API key for you application. Simply click the button below to recieve one, it will be saved to your user and displayed here if you have one.</p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Get API Key!', request_path, {:class => "button secondary expand"} %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Log Out', logout_path, {:class => "button secondary expand"} %>
	</div>
</div>