<div class="row">
	<div class="large-12 columns">
		<h3>
			Login
		</h3>
	</div>
</div>
<form data-abide>
	<div class="row">
		<div class="large-12 columns">
			<div class="input-wrapper">
		  		<label>Email
			    	<input type="email" required>
		  		</label>
			 	<small class="error">A valid email address is required.</small> 	
			</div>
			<div class="input-wrapper">
		  		<label>Password
			    	<input type="text" required>
		  		</label>
			 	<small class="error">A password is required.</small> 	
			</div>			
			<input type="button" class="button" value="Login">
		</div>
	</div>
</form>